.br {
	border: 1px solid;
	margin-top: 35px;
	margin-left: 35px;
	margin-right: 35px;
}
.sp {
	width: 30%;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	height: 100px;
}
#forvgit{
	width: 50%;
}
.md{
	text-align: center;
}