<p>Если Вы:</p>
<ul>
	<li><p>занимаетесь торговлей</p></li>
	<li><p>используете 1С</p></li>
	<li><p>хотите попробывать себя в интеренет-торговле</p></li>
</ul>

<p>Мы предлагаем:</p>
<ul>
	<li><p>Простую торговую интернет площадку</p></li>
	<li><p>5 минут времени на создание</p></li>
	<li><p>Быстрое создание счетов</p></li>
</ul>
<a href="/create_own_ezsp.html">Создать свой EZSP</a>
