#col2 {
	vertical-align: top;
	width: 450px;
}
h1 {
	font-size: 21px;
}

.width850 {
	min-width: 850px;
}
/*ItemInformation*/
.ii_title {
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}
.ii_name_td{
	width: 270px;
}
.img_c {
	width: 190px;
}