body {
	min-width: 900px;
}
div {
	display: block;
}
span {
	display: inline-block;
}
.left100 {
	margin-left: 90px;
}
.left20 {
	margin-left: 20px;
}
.right20 {
	margin-right: 20px;
}
#SearchStr {
	width: 40%;
	min-width: 430px;
	font-size: 14px;
}
.fc {
	width: 90px;
}
.bt {
	margin-top: 15px; 
	margin-bottom:  15px;
}
.main {
	border-top: solid 1px;
}
.width430 {
	width: 430px;
}
.mart10 {
	margin-top: 10px;
}
a:link {
	color: #0000d0;
}
a:visited {
	color: #0000d0;	
}

#price {
	color: rgb(177, 39, 4); /*green;*/
	font-weight: bold;
}
.col2 {
	vertical-align: top;
}
.wp {
	word-wrap: break-word;
	word-break: break-all;
}
.row {
	display: inline-block;
}
.in_price {
	width: 50px;
}
.img-vs-mc {
	width: 30px;	
}
.vs-mc-a {
	text-decoration: none;
}
.flt-box {
	border: solid 1px rgb(239, 239, 239);
	padding: 10px;
}