<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script src="/libs/jquery/jquery-2.1.1.min.js"></script>
        <script src="/libs/mustache.js"></script>
        <script src="/js/common.js"></script>
        <script src="/js/query-obj.js"></script>
        <script src="/js/fastsearch.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
<body>
${self.body()}
<div id = "output" class="main">
${self.output()}
</div>
</body>
</html>